@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}
  
@font-face {
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}
  
body {
    text-align: center;
    font-size: 20px;
    padding: 3%;
    font-family: 'RobotoCondensed';
}

h1, h2, h3 ,h4, h5 {
    text-align: center;
    font-family: 'Economica';
}

button {
    margin-right: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

table {
    width: 100%;
}
th {
    text-align: center;
}
td {
    padding: 10px;
}
.completed {
    text-decoration:line-through;
}
.Name {
    width: 45%;
}
.Checkbox {
    width: 13%;
}
.Buttons {
    width: 20%; 
}
.Time {
    width: 22%;
}
.log_task {
    width: 45%;
}
.log_time {
    width: 25%;
}